In [3]:
import numpy as np
import pandas as pd

In [5]:
pd.__version__

'1.5.1'

In [6]:
tuple = ("Joe",67,1667548004)
s1 = pd.Series(tuple)

In [7]:
s1

0           Joe
1            67
2    1667548004
dtype: object

In [8]:
type(s1)

pandas.core.series.Series

In [9]:
type(s1.values)

numpy.ndarray

In [10]:
s1.index

RangeIndex(start=0, stop=3, step=1)

In [18]:
# s1[-1] # IDs
s1[2] # IDs

1667548004

In [28]:
students = pd.Series(0,index=["Joe","Lisa","Viktoria","Nick"])

In [32]:
students

Joe         0
Lisa        0
Viktoria    0
Nick        0
dtype: int64

In [34]:
students["Nick":"Joe":-1]

Nick        0
Viktoria    0
Lisa        0
Joe         0
dtype: int64

In [37]:
students[::-1]

Nick        0
Viktoria    0
Lisa        0
Joe         0
dtype: int64

In [39]:
pd.Series(10,index=range(10))

0    10
1    10
2    10
3    10
4    10
5    10
6    10
7    10
8    10
9    10
dtype: int64

In [52]:
dict = {"name":"Joe","age":67,"ID":1667548004,1:"one","two":2,3:3}
dict

{'name': 'Joe', 'age': 67, 'ID': 1667548004, 1: 'one', 'two': 2, 3: 3}

In [53]:
dicronary_Series = pd.Series(dict)
dicronary_Series

name           Joe
age             67
ID      1667548004
1              one
two              2
3                3
dtype: object

In [54]:
dicronary_Series[1]

'one'

In [61]:
sdata = {"Minnesota": 55000, "Ohio": 35000, "California": 45000}
states = ["Ohio","California","Minnesota","Utah"]
s1 = pd.Series(sdata,states)
s1

Ohio          35000.0
California    45000.0
Minnesota     55000.0
Utah              NaN
dtype: float64

In [62]:
pd.isnull(s1)

Ohio          False
California    False
Minnesota     False
Utah           True
dtype: bool

In [63]:
pd.notnull(s1)

Ohio           True
California     True
Minnesota      True
Utah          False
dtype: bool

In [79]:
data = {"California": 35000, "Ohio": 7000, "Oregon": 16000, "Texas": 21000}
obj1 = pd.Series(data)
obj1

California    35000
Ohio           7000
Oregon        16000
Texas         21000
dtype: int64

In [80]:
obj1["California":"Oregon"]

California    35000
Ohio           7000
Oregon        16000
dtype: int64

In [81]:
obj1[1::2]

Ohio      7000
Texas    21000
dtype: int64

In [84]:
obj2 = pd.Series(data,index=["Ohio","Oregon","Texas","Utah"])
print(obj1)
print(obj2)

California    35000
Ohio           7000
Oregon        16000
Texas         21000
dtype: int64
Ohio       7000.0
Oregon    16000.0
Texas     21000.0
Utah          NaN
dtype: float64

In [83]:
obj1 + obj2

California    70000.0
Ohio          14000.0
Oregon        32000.0
Texas         42000.0
Utah              NaN
dtype: float64

In [86]:
obj1[obj1<20000]*2

Ohio      14000
Oregon    32000
dtype: int64

In [87]:
obj1

California    35000
Ohio           7000
Oregon        16000
Texas         21000
dtype: int64

In [91]:
names = np.array(["Joe","Lisa","Viktoria","Nick","Viktor","Alex","Maria","Max","Bob","Virgil","Vladimir","Vlad","Jessie","Gus","Valter"])
names.shape

(15,)

In [93]:
ds1 = pd.Series(np.random.randint(0,100,15),names)
ds1

Joe         87
Lisa        26
Viktoria    94
Nick        33
Viktor      22
Alex        90
Maria       37
Max         58
Bob         88
Virgil      13
Vladimir    40
Vlad        40
Jessie      41
Gus         34
Valter      61
dtype: int32

In [94]:
ds1.values

array([87, 26, 94, 33, 22, 90, 37, 58, 88, 13, 40, 40, 41, 34, 61])

In [95]:
ds1.keys()

Index(['Joe', 'Lisa', 'Viktoria', 'Nick', 'Viktor', 'Alex', 'Maria', 'Max',
       'Bob', 'Virgil', 'Vladimir', 'Vlad', 'Jessie', 'Gus', 'Valter'],
      dtype='object')

In [96]:
ds1[:2]

Joe     87
Lisa    26
dtype: int32

In [97]:
ds1[3:9:2]

Nick    33
Alex    90
Max     58
dtype: int32

In [125]:
customer_info = {"Jan":125,"Feb":50,"Mar":200,"Apr":175,"May":225}

In [126]:
customer = pd.Series(customer_info)
customer

Jan    125
Feb     50
Mar    200
Apr    175
May    225
dtype: int64

In [127]:
customer[2:5]

Mar    200
Apr    175
May    225
dtype: int64

In [128]:
m_names = ["Jan","Feb","Mar","Apr","May","Jun","Jul"]

In [129]:
customer_info_new = pd.Series(customer_info,index=m_names)
customer_info_new

Jan    125.0
Feb     50.0
Mar    200.0
Apr    175.0
May    225.0
Jun      NaN
Jul      NaN
dtype: float64

In [130]:
customer_info_new[customer_info_new.isnull()]

Jun   NaN
Jul   NaN
dtype: float64

In [131]:
customer_info_new["Mar":"May"]

Mar    200.0
Apr    175.0
May    225.0
dtype: float64

In [135]:
result = customer_info_new[customer_info_new<100]
result

Feb    50.0
dtype: float64

In [138]:
result2 = customer_info_new[customer_info_new<200] * 5
result2

Jan    625.0
Feb    250.0
Apr    875.0
dtype: float64