In [1]:
import numpy as np
import pandas as pd

In [43]:
wine = pd.read_csv("../data/winequality-white (1).csv", sep=";")
wine.head(20)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.50,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.90,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.00,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.70,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.60,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,8.1,0.22,0.43,1.50,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6
10,8.1,0.27,0.41,1.45,0.033,11.0,63.0,0.9908,2.99,0.56,12.0,5
11,8.6,0.23,0.40,4.20,0.035,17.0,109.0,0.9947,3.14,0.53,9.7,5
12,7.9,0.18,0.37,1.20,0.040,16.0,75.0,0.9920,3.18,0.63,10.8,5
13,6.6,0.16,0.40,1.50,0.044,48.0,143.0,0.9912,3.54,0.52,12.4,7
14,8.3,0.42,0.62,19.25,0.040,41.0,172.0,1.0002,2.98,0.67,9.7,5
15,6.6,0.17,0.38,1.50,0.032,28.0,112.0,0.9914,3.25,0.55,11.4,7
16,6.3,0.48,0.04,1.10,0.046,30.0,99.0,0.9928,3.24,0.36,9.6,6
17,6.2,0.66,0.48,1.20,0.029,29.0,75.0,0.9892,3.33,0.39,12.8,8
18,7.4,0.34,0.42,1.10,0.033,17.0,171.0,0.9917,3.12,0.53,11.3,6
19,6.5,0.31,0.14,7.50,0.044,34.0,133.0,0.9955,3.22,0.50,9.5,5

In [45]:
wine1 = wine.drop([wine.columns[0],wine.columns[-1],wine.columns[-2],wine.columns[-3],wine.columns[4],wine.columns[5]], axis=1)
wine1.tail(15)

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH
4883,0.470,0.17,1.90,148.0,0.98964,3.27
4884,0.330,0.38,8.30,174.0,0.99492,3.14
4885,0.340,0.40,8.10,170.0,0.99494,3.15
4886,0.210,0.28,5.70,121.0,0.99168,3.21
4887,0.410,0.22,1.90,56.0,0.98928,3.04
4888,0.220,0.36,1.20,127.0,0.99330,3.04
4889,0.235,0.27,11.75,118.0,0.99540,3.07
4890,0.340,0.29,2.20,100.0,0.98938,3.06
4891,0.210,0.32,0.90,121.0,0.99074,3.24
4892,0.230,0.38,1.30,112.0,0.99298,3.29
4893,0.210,0.29,1.60,92.0,0.99114,3.27
4894,0.320,0.36,8.00,168.0,0.99490,3.15
4895,0.240,0.19,1.20,111.0,0.99254,2.99
4896,0.290,0.30,1.10,110.0,0.98869,3.34
4897,0.210,0.38,0.80,98.0,0.98941,3.26

In [40]:
M1 = 19
M2 = 47
N1 = 3
N2 = 110

In [46]:
critic_score = np.random.randint(M1, M2, size=len(wine1))

In [47]:
wine1["citric score"] = critic_score

In [48]:
wine1

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH,citric score
0,0.27,0.36,20.7,170.0,1.00100,3.00,30
1,0.30,0.34,1.6,132.0,0.99400,3.30,29
2,0.28,0.40,6.9,97.0,0.99510,3.26,28
3,0.23,0.32,8.5,186.0,0.99560,3.19,42
4,0.23,0.32,8.5,186.0,0.99560,3.19,36
...,...,...,...,...,...,...,...
4893,0.21,0.29,1.6,92.0,0.99114,3.27,29
4894,0.32,0.36,8.0,168.0,0.99490,3.15,36
4895,0.24,0.19,1.2,111.0,0.99254,2.99,43
4896,0.29,0.30,1.1,110.0,0.98869,3.34,24
4897,0.21,0.38,0.8,98.0,0.98941,3.26,36

In [52]:
wine1.iloc[:5,-3]=0

In [53]:
wine1

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH,citric score
0,0.27,0.36,20.7,170.0,0.00000,3.00,30
1,0.30,0.34,1.6,132.0,0.00000,3.30,29
2,0.28,0.40,6.9,97.0,0.00000,3.26,28
3,0.23,0.32,8.5,186.0,0.00000,3.19,42
4,0.23,0.32,8.5,186.0,0.00000,3.19,36
...,...,...,...,...,...,...,...
4893,0.21,0.29,1.6,92.0,0.99114,3.27,29
4894,0.32,0.36,8.0,168.0,0.99490,3.15,36
4895,0.24,0.19,1.2,111.0,0.99254,2.99,43
4896,0.29,0.30,1.1,110.0,0.98869,3.34,24
4897,0.21,0.38,0.8,98.0,0.98941,3.26,36