In [16]:
import numpy as np
import pandas as pd

In [17]:
wine = pd.read_csv("../data/winequality-white.csv",delimiter=";")
wine

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [18]:
wine_modified = wine.drop([wine.columns[0],wine.columns[-1],wine.columns[-2],wine.columns[-3],wine.columns[4],wine.columns[5]], axis=1)
wine_modified.tail(15)

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH
4883,0.470,0.17,1.90,148.0,0.98964,3.27
4884,0.330,0.38,8.30,174.0,0.99492,3.14
4885,0.340,0.40,8.10,170.0,0.99494,3.15
4886,0.210,0.28,5.70,121.0,0.99168,3.21
4887,0.410,0.22,1.90,56.0,0.98928,3.04
4888,0.220,0.36,1.20,127.0,0.99330,3.04
4889,0.235,0.27,11.75,118.0,0.99540,3.07
4890,0.340,0.29,2.20,100.0,0.98938,3.06
4891,0.210,0.32,0.90,121.0,0.99074,3.24
4892,0.230,0.38,1.30,112.0,0.99298,3.29
4893,0.210,0.29,1.60,92.0,0.99114,3.27
4894,0.320,0.36,8.00,168.0,0.99490,3.15
4895,0.240,0.19,1.20,111.0,0.99254,2.99
4896,0.290,0.30,1.10,110.0,0.98869,3.34
4897,0.210,0.38,0.80,98.0,0.98941,3.26

In [19]:
M1 = 19
M2 = 47
N1 = 3
N2 = 110

In [20]:
critic_score = np.random.randint(M1, M2, size=len(wine_modified))

In [21]:
wine_modified["citric score"] = critic_score

In [22]:
wine_modified

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH,citric score
0,0.27,0.36,20.7,170.0,1.00100,3.00,30
1,0.30,0.34,1.6,132.0,0.99400,3.30,43
2,0.28,0.40,6.9,97.0,0.99510,3.26,46
3,0.23,0.32,8.5,186.0,0.99560,3.19,26
4,0.23,0.32,8.5,186.0,0.99560,3.19,22
...,...,...,...,...,...,...,...
4893,0.21,0.29,1.6,92.0,0.99114,3.27,39
4894,0.32,0.36,8.0,168.0,0.99490,3.15,39
4895,0.24,0.19,1.2,111.0,0.99254,2.99,40
4896,0.29,0.30,1.1,110.0,0.98869,3.34,24
4897,0.21,0.38,0.8,98.0,0.98941,3.26,23

### У меня вместо столбца magnesium будет total sulfur dioxide

In [41]:
wine_modified.iloc[:N1]=0
wine_modified

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH,citric score
0,0.00,0.00,0.0,0.0,0.00000,0.00,0
1,0.00,0.00,0.0,0.0,0.00000,0.00,0
2,0.00,0.00,0.0,0.0,0.00000,0.00,0
3,0.23,0.32,8.5,555.0,0.99560,3.19,26
4,0.23,0.32,8.5,186.0,0.99560,3.19,22
...,...,...,...,...,...,...,...
4893,0.21,0.29,1.6,92.0,0.99114,3.27,39
4894,0.32,0.36,8.0,168.0,0.99490,3.15,39
4895,0.24,0.19,1.2,111.0,0.99254,2.99,40
4896,0.29,0.30,1.1,110.0,0.98869,3.34,24
4897,0.21,0.38,0.8,98.0,0.98941,3.26,23

In [42]:
# wine_modified.loc[N1,:]=555
wine_modified["total sulfur dioxide"].loc[N1]= 555
wine_modified["total sulfur dioxide"].loc[N2]= 555

C:\Users\luche\AppData\Local\Temp\ipykernel_6768\2448095152.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_modified["total sulfur dioxide"].loc[N1]= 555
C:\Users\luche\AppData\Local\Temp\ipykernel_6768\2448095152.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wine_modified["total sulfur dioxide"].loc[N2]= 555

#### вместо alcalinity of ash и proanthocyanins будет density и citric acid

In [73]:
wine_modified.loc[:,"density":"citric acid":-1]

      density  total sulfur dioxide  residual sugar  citric acid
0     0.00000                   0.0             0.0         0.00
1     0.00000                   0.0             0.0         0.00
2     0.00000                   0.0             0.0         0.00
3     0.99560                 555.0             8.5         0.32
4     0.99560                 186.0             8.5         0.32
...       ...                   ...             ...          ...
4893  0.99114                  92.0             1.6         0.29
4894  0.99490                 168.0             8.0         0.36
4895  0.99254                 111.0             1.2         0.19
4896  0.98869                 110.0             1.1         0.30
4897  0.98941                  98.0             0.8         0.38

[4898 rows x 4 columns]

In [79]:
a = lambda col: wine_modified[col] * M1
a("pH")

0        0.00
1        0.00
2        0.00
3       60.61
4       60.61
        ...
4893    62.13
4894    59.85
4895    56.81
4896    63.46
4897    61.94
Name: pH, Length: 4898, dtype: float64

In [81]:
wine_modified.assign(pH= a("pH"))
wine_modified

,volatile acidity,citric acid,residual sugar,total sulfur dioxide,density,pH,citric score
0,0.00,0.00,0.0,0.0,0.00000,0.00,0
1,0.00,0.00,0.0,0.0,0.00000,0.00,0
2,0.00,0.00,0.0,0.0,0.00000,0.00,0
3,0.23,0.32,8.5,555.0,0.99560,3.19,26
4,0.23,0.32,8.5,186.0,0.99560,3.19,22
...,...,...,...,...,...,...,...
4893,0.21,0.29,1.6,92.0,0.99114,3.27,39
4894,0.32,0.36,8.0,168.0,0.99490,3.15,39
4895,0.24,0.19,1.2,111.0,0.99254,2.99,40
4896,0.29,0.30,1.1,110.0,0.98869,3.34,24
4897,0.21,0.38,0.8,98.0,0.98941,3.26,23